// ESTE ARQUIVO É UM TESTE, DESCONSIDERE

$white: #fff;

.pin-cycler-border {
    display: block;
    border:solid 2px $white;
    padding:6px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-bottom: 20px;

    float:left;
    margin-right:30px;

    .ball-pulse {
        display: block;
        background-color: $white;
        width: 100%;
        height: 100%;
        border-radius: 100%;

        img {
            margin-left: auto;
            margin-right: auto;
        }
    }

   
}




#ic_wallet_border {
    border-color: #AA70F6;
}
#ic_wallet_fill {
    background: url('../img/ic_wallet.svg') no-repeat center center, linear-gradient(#E1AEDD, #AA70F6);
    background-color: #AA70F6;
}

#ic_market_border {
    border-color: #BEE873;
}
#ic_market_fill {
    background: url('../img/ic_market.svg') no-repeat center center, linear-gradient(#5DE29D, #BEE873);
    background-color: #BEE873;
}


#ic_card_border {
    border-color: #60CCC0;
}
#ic_card_fill {
    background: url('../img/ic_card.svg') no-repeat center center, linear-gradient(#269BA3, #60CCC0);
    background-color: #60CCC0;
}


#ic_label_border {
    border-color: #57B7FF;
}
#ic_label_fill {
    background: url('../img/ic_label.svg') no-repeat center center, linear-gradient(#2DA1F8, #57B7FF);
    background-color: #57B7FF;
}


#ic_truth_border {
    border-color: #FDC65D;
}
#ic_truth_fill {
    background: url('../img/ic_truth.svg') no-repeat center center, linear-gradient(#F99B2A, #FDC65D);
    background-color: #FDC65D;
}


#ic_point_border {
    border-color: #85BB38;
}
#ic_point_fill {
    background: url('../img/ic_tokens.svg') no-repeat center center, linear-gradient(#519C26, #85BB38);
    background-color: #85BB38;
}


#ic_contract_border {
    border-color: #ED6E77;
}
#ic_contract_fill {
    background: url('../img/ic_contract.svg') no-repeat center center, linear-gradient(#FB9CD1, #ED6E77);
    background-color: #ED6E77;
}


#ic_machine_border {
    border-color: #E33A82;
}
#ic_machine_fill {
    background: url('../img/ic_machine.svg') no-repeat center center, linear-gradient(#AB3CAC, #E33A82);
    background-color: #E33A82;
}


#ic_gateway_border {
    border-color: #8C56FF;
}
#ic_gateway_fill {
    background: url('../img/ic_gateway.svg') no-repeat center center, linear-gradient(#32BEFD, #8C56FF);
    background-color: #8C56FF;
}


#ic_pos_border {
    border-color: #F7717C;
}
#ic_pos_fill {
    background: url('../img/ic_pos.svg') no-repeat center center, linear-gradient(#FF2E57, #F7717C);
    background-color: #F7717C;
}


#ic_leasing_border {
    border-color: #F7717C;
}
#ic_leasing_fill {
    background: url('../img/ic_leasing.svg') no-repeat center center, linear-gradient(#FF2E57, #F7717C);
    background-color: #F7717C;
}