@import url('https://fonts.googleapis.com/css?family=Offside');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

:root {
    --purple: #3b1878;
    --darkPurple: #2f1261;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    position: relative;

    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    /* -webkit-text-stroke: 0.45px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004); */


}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    background-color: #3B1878;
    min-height: 75rem;
    padding-top: 8.5rem;   
}
@media only screen and (min-width:1440px){
    body{
    background-image: url('../img/img-float/vetor-globo.webp');
    background-repeat: no-repeat;
    background-position-y: 450px;
    background-position-x: -340px;
    background-size: 35%;
    }
}

h1, h2, h3, h4 {
    font-family: 'Offside', cursive;
    line-height: 1.4em;
}

h2 {
    font-size: 2.7em;
    line-height: 1em;
}
h3 {
    font-size: 1.6em;
    line-height: 1.2em;
}

hr{
    background-color: #4cd566;
    height: 1px;
    border: 0px;
}

.product-header{  /*alinhamento dos h3 no idioma hindi*/
    line-height: 4em;
}

.product-header2{   
    line-height: 3em;
}

.linha-vertical {
    height: 300px;/*Altura da linha*/
    border-right: 1px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    float: left;
    margin-top: -100px;
    color: #4cd566;
    display: block;
  }


section {
    margin-top: 40px;
}
header {
    background: #3B1878;
    display:block;
    position: fixed;
    width: 100%;
    z-index: 998;
    margin: 0px;
    padding-top: 15px;
    margin-top: -8.5rem;
}

header a{
    color: #4cd566;
}
header a:hover {
    color:#fff;
}
header #logo {
    display:block;
    text-align: center;
    padding:10px;
    font-size: 4em;
    margin-bottom: 15px;
}

#navbar {
    font-family: 'Offside', cursive;
    display:none;
    position: fixed;
    top:0px;
    left:0px;
    width: 102%;
    padding-left:0px;
    background-color: #4B2C82;
    border-radius: 0px 0px 45px 0px;
    padding-bottom: 40px;
    z-index:999;
    overflow-y: scroll;
    height: 100%;
    margin-bottom:20px;
}
#navbar #top {
    font-size: 2em;
    border-bottom: solid 1px #3B1878;
    color: #4cd566;
    padding:20px;
}
#navbar #top a {
    display:block;
    float:right;
    color: #4cd566
}
#navbar #cont {
    padding-left: 20px;
}
#navbar #cont a {
    padding-top:10px;
    /*padding-bottom: 10px;*/
    color:#fff;
    text-decoration: none;
    display: block;
    float: left;
    clear: both;
}
#navbar #cont a.ativo {
    border-bottom: solid 2px #4cd566;
    color: #4cd566;
}

#logo {
    font-family: 'Offside', cursive;
    display:block;
    text-align: center;
    padding:30px;
    font-size: 4em;
    margin-bottom: 40px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.align-horizontal {
    display: flex;
    align-items: center;
}

.col-md-4{        
    padding-right:10px !important;
}

.join-top {
    max-width: 300px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    font-weight: 700;
}

#bt-menu {
    margin-top:10px;
    margin-left: 10px;
    display: block;
    float:left;
}



#lua {
    display:block;
    position: absolute;
    margin-right:50px;
    animation: flashflash 8s infinite;
    top: 116px;
    width: 180px;
    height: 180px;
}

#social-bar {
    margin-top:-47px;
    float:left;
    position: absolute;
    left:0;
    /*margin-right: 150px;*/
    margin-left: 90px;
    padding-bottom: 15px; 
}


#social-bar a {
    text-decoration: none;

}


#link-bar {
    margin-top:-30px;
    float:right;
    position: absolute;
    right:0px;
    margin-right: 50px;

}

#bt-link-bar {
    color: white;
    font-size: 18px;
    margin-top:-15px;
    margin-right: 10px;
    display: block;
    float:right;
    font-family: Offside,cursive;
    text-decoration: none;
}

.bt-menu {
    padding: 5px 10px;
    transition: all .3s ease-in-out;
    border-radius: 5px;
}

.bt-menu:hover {
    background-color: var(--darkPurple) !important;
}

.bt-buy {
    display:block;
    text-align:center;
    margin: 0 auto;
    max-width: 250px;
}

#social-bar a {
    margin:5px;
}

/* counter */
#counter {
    font-family: 'Offside', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
}

#counter #coin_counter {
    display: block;
    text-align: right;
    font-size: 1.3em;
    margin-bottom: 10px;
    padding-right: 20px;
}

#counter #coin_sale {

}

#counter #coin_sale_desc{
    display: block;
    text-align: left;
    font-size: 1.3em;
    margin-bottom: -25px;
}

#counter #loading_bar {
    display:block;
    background-color: #fff;
    height: 6px;
}

#counter #loading_bar_green {
    display: block;
    background-color: #4cd566;
    height: 6px;
}

#counter #base_counter {
    background-color: #4e2e7d;
    padding: 20px;
}

#counter #number {
    margin-top: 30px;
    display: block;
    text-align: center;
    font-size:3em;
    color:#4cd566;
}

#counter #number span {
    font-size: .2em;
    color:#fff;
    display: block;
    margin-top: 20px;
}

#counter .values {
    margin: 0;
}

#counter #hard-cap {
    display: block;
    background-color: #4e2e7d;
    /* max-width: 100px; */
    /* margin-left: auto; */
    color: #4cd566;
    font-size: .8em;
    text-align: center;
    padding: 10px;
    border-bottom-right-radius: 4px;
    /* margin-top: -40px; */
}

#counter #hard-cap span {
    display: block;
    color: #fff;
    font-size: 1.2em;
}

#counter #raised {
    display: block;
    background-color: #4e2e7d;
    /* max-width: 100px; */

    /* margin-right: auto; */
    color: #4cd566;
    font-size: .8em;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 4px;
    /* margin-top: -40px; */
}

#counter #raised span {
    display: block;
    color: #fff;
    font-size: 1.2em;
}

#counter #totalFiat {
    display: block;
    background-color: #4e2e7d;
    /* max-width: 100px; */

    /* margin: 0 auto; */
    color: #4cd566;
    font-size: .8em;
    text-align: center;
    padding: 10px;
    /* border-radius: 4px; */
    /* margin-top: -40px; */
}

#counter #totalFiat span {
    display: block;
    color: #fff;
    font-size: 1.2em;
}

/* wallet */
.ball-border {
    display: block;
    border:solid 2px #fff;
    padding:6px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-bottom: 20px;

    float:left;
    margin-right:30px;
}

.ball-border .ball-pulse {
    display: block;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.ball-border .ball-pulse img {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width:990px){
    .ball-border{
        width: 90px;
        height: 90px;

    }
}
/*
@-webkit-keyframes pulse1 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
} */
@keyframes pulse_wallet {
    0% {
        /* -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        box-shadow: 0px 0px 20px rgb(170, 112, 246, 0);
    }
    25% {

        box-shadow: 0px -5px 20px rgb(170, 112, 246, .5);
    }
    50% {

        box-shadow: 0px -10px 20px rgb(170, 112, 246, 1);
    }
    75% {

        box-shadow: 0px -5px 20px rgb(170, 112, 246, .5);
    }
    100% {
        box-shadow: 0px 0px 20px rgb(170, 112, 246, 0);
    }
}

@keyframes pulse_market {
    0% {
        /* -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        box-shadow: 0px 0px 20px rgb(190, 232, 115, 0);
    }
    25% {

        box-shadow: 0px -5px 20px rgb(190, 232, 115, .5);
    }
    50% {

        box-shadow: 0px -10px 20px rgb(190, 232, 115, 1);
    }
    75% {

        box-shadow: 0px -5px 20px rgb(190, 232, 115, .5);
    }
    100% {
        box-shadow: 0px 0px 20px rgb(190, 232, 115, 0);
    }
}

@keyframes pulse_card {
    0% {
        /* -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        box-shadow: 0px 0px 20px rgb(96, 204, 192, 0);
    }
    25% {

        box-shadow: 0px -5px 20px rgb(96, 204, 192, .5);
    }
    50% {

        box-shadow: 0px -10px 20px rgb(96, 204, 192, 1);
    }
    75% {

        box-shadow: 0px -5px 20px rgb(96, 204, 192, .5);
    }
    100% {
        box-shadow: 0px 0px 20px rgb(96, 204, 192, 0);
    }
}

@keyframes pulse_label {
    0% {
        /* -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        box-shadow: 0px 0px 20px rgb(87, 183, 255, 0);
    }
    25% {

        box-shadow: 0px -5px 20px rgb(87, 183, 255, .5);
    }
    50% {

        box-shadow: 0px -10px 20px rgb(87, 183, 255, 1);
    }
    75% {

        box-shadow: 0px -5px 20px rgb(87, 183, 255, .5);
    }
    100% {
        box-shadow: 0px 0px 20px rgb(87, 183, 255, 0);
    }
}

@keyframes pulse_truth {
    0% {
        /* -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
        box-shadow: 0px 0px 20px rgb(253, 198, 93, 0);
    }
    25% {

        box-shadow: 0px -5px 20px rgb(253, 198, 93, .5);
    }
    50% {

        box-shadow: 0px -10px 20px rgb(253, 198, 93, 1);
    }
    75% {

        box-shadow: 0px -5px 20px rgb(253, 198, 93, .5);
    }
    100% {
        box-shadow: 0px 0px 20px rgb(253, 198, 93, 0);
    }
}

@keyframes pulse_point {
    0% {
        box-shadow: 0px 0px 20px rgb(133, 187, 56, 0);
    }
    25% {

        box-shadow: 0px -5px 20px rgb(133, 187, 56, .5);
    }
    50% {

        box-shadow: 0px -10px 20px rgb(133, 187, 56, 1);
    }
    75% {

        box-shadow: 0px -5px 20px rgb(133, 187, 56, .5);
    }
    100% {
        box-shadow: 0px 0px 20px rgb(133, 187, 56, 0);
    }
}

@keyframes pulse_contract {
    0% {
        box-shadow: 0px 0px 20px rgb(237, 110, 119, 0);
    }
    25% {

        box-shadow: 0px -5px 20px rgb(237, 110, 119, .5);
    }
    50% {

        box-shadow: 0px -10px 20px rgb(237, 110, 119, 1);
    }
    75% {

        box-shadow: 0px -5px 20px rgb(237, 110, 119, .5);
    }
    100% {
        box-shadow: 0px 0px 20px rgb(237, 110, 119, 0);
    }
}

@keyframes pulse_machine {
    0% {
        box-shadow: 0px 0px 20px rgb(227, 58, 130, 0);
    }
    25% {

        box-shadow: 0px -5px 20px rgb(227, 58, 130, .5);
    }
    50% {

        box-shadow: 0px -10px 20px rgb(227, 58, 130, 1);
    }
    75% {

        box-shadow: 0px -5px 20px rgb(227, 58, 130, .5);
    }
    100% {
        box-shadow: 0px 0px 20px rgb(227, 58, 130, 0);
    }
}

@keyframes pulse_gateway {
    0% {
        box-shadow: 0px 0px 20px rgb(140, 86, 255, 0);
    }
    25% {

        box-shadow: 0px -5px 20px rgb(140, 86, 255, .5);
    }
    50% {

        box-shadow: 0px -10px 20px rgb(140, 86, 255, 1);
    }
    75% {

        box-shadow: 0px -5px 20px rgb(140, 86, 255, .5);
    }
    100% {
        box-shadow: 0px 0px 20px rgb(140, 86, 255, 0);
    }
}

@keyframes pulse_pos {
    0% {
        box-shadow: 0px 0px 20px rgb(247, 113, 124, 0);
    }
    25% {

        box-shadow: 0px -5px 20px rgb(247, 113, 124, .5);
    }
    50% {

        box-shadow: 0px -10px 20px rgb(247, 113, 124, 1);
    }
    75% {

        box-shadow: 0px -5px 20px rgb(247, 113, 124, .5);
    }
    100% {
        box-shadow: 0px 0px 20px rgb(247, 113, 124, 0);
    }
}


.list-simple {
    font-size:.8em;
    opacity: .8;
    /* list-style: inside; */
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bt_green {
    /*background-color: #4cd566;*/
    background: linear-gradient(#77f38d, #4cd566);
    border: solid 1px #77f38d;
    text-decoration: none;
    font-family: 'Offside', cursive;
    color: #fff;
    display:block;
    padding: 10px;
    padding-top:15px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-size: 1.3em;
    box-shadow: 0px 3px 5px rgba(0,0,0,.05);
    margin-bottom: 15px;
}

.bt_green_splash{
    /*background-color: #4cd566;*/
    background: linear-gradient(#4B2C82,#3B1878);
    border: solid 1px #3b1878;
    text-decoration: none;
    font-family: 'Offside', cursive;
    color: #fff;
    display:block;
    padding: 10px;
    padding-top:15px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-size: 1.3em;
    box-shadow: 0px 3px 5px rgba(0,0,0,.05);
}

.bt_green_splash:hover {
    text-decoration: none;
    color:#fff;

    background: linear-gradient(#4B2C82,#3B1878);
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}

.bt_green_none {
    /*background-color: #4cd566;*/
    background: linear-gradient(#77f38d, #4cd566);
    border: solid 1px #77f38d;
    text-decoration: none;
    font-family: 'Offside', cursive;
    color: #fff;
    padding: 10px;
    padding-top:15px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-size: 1.3em;
    box-shadow: 0px 3px 5px rgba(0,0,0,.05);
}
.bt_green:hover {
    text-decoration: none;
    color:#fff;

    background: linear-gradient(#4cd566, #77f38d);
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}

/*open bt languagem*/

/*animation language-menu*/
@-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
      visibility: visible;
      opacity: 0.1;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
      visibility: visible;
      opacity: 0.1;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  /*animation fixed circle */
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  

.bt_language, .bt_language_down{
    /*background-color: #4cd566;    #3B1878;*/
    background-color:#3B1878;
    text-decoration: none;
    border:0px;
    color:white;    
    min-width: 55px;
    margin-top:-15px;
    text-align: center;
}

.bt_language_down{
    margin-top:15px;
}

.bt_language_down li a:hover{
    background-color: #3b1878;
}

.bt_language_down{
    padding-bottom: 15px;
}

.bt_language li{
    padding:0px;
    background-color: #3b1878;
}

.bt_language_down img, .bt_language_down img:hover{
    width: 25px;
    height: 25px;
}


.language-menu-down-animation{
    -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  animation-duration: 320ms;
}

/*closed bt languagem*/

.green-word {
    color: #4cd566;
}


.input-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    text-align: center;
}

.input-wrapper button {
    font-family: Offside, cursive;
    cursor: pointer;
}


/* buttons */

#ic_wallet_border {
    border-color: #AA70F6;
}
#ic_wallet_fill {
    background: url('../img/ic_wallet.svg') no-repeat center center, linear-gradient(#E1AEDD, #AA70F6);
    background-color: #AA70F6;

    box-shadow: 0px -10px 20px rgb(170, 112, 246);
    animation: pulse_wallet 2s infinite;
}


#ic_market_border {
    border-color: #BEE873;
}
#ic_market_fill {
    background: url('../img/ic_market.svg') no-repeat center center, linear-gradient(#5DE29D, #BEE873);
    background-color: #BEE873;

    box-shadow: 0px -10px 20px rgb(190, 232, 115);
    animation: pulse_market 2s infinite;
}


#ic_card_border {
    border-color: #60CCC0;
}
#ic_card_fill {
    background: url('../img/ic_card.svg') no-repeat center center, linear-gradient(#269BA3, #60CCC0);
    background-color: #60CCC0;

    box-shadow: 0px -10px 20px rgb(96, 204, 192);
    animation: pulse_card 2s infinite;
}


#ic_label_border {
    border-color: #57B7FF;
}
#ic_label_fill {
    background: url('../img/ic_label.svg') no-repeat center center, linear-gradient(#2DA1F8, #57B7FF);
    background-color: #57B7FF;

    box-shadow: 0px -10px 20px rgb(87, 183, 255);
    animation: pulse_label 2s infinite;
}


#ic_truth_border {
    border-color: #FDC65D;
}
#ic_truth_fill {

    background: url('../img/ic_truth.svg') no-repeat center center, linear-gradient(#F99B2A, #FDC65D);
    background-color: #FDC65D;

    box-shadow: 0px -10px 20px rgb(253, 198, 93);
    animation: pulse_truth 2s infinite;
}


#ic_point_border {
    border-color: #85BB38;
}
#ic_point_fill {
    background: url('../img/ic_tokens.svg') no-repeat center center, linear-gradient(#519C26, #85BB38);
    background-color: #85BB38;

    box-shadow: 0px -10px 20px rgb(133, 187, 56);
    animation: pulse_point 2s infinite;
}


#ic_contract_border {
    border-color: #ED6E77;
}
#ic_contract_fill {
    background: url('../img/ic_contract.svg') no-repeat center center, linear-gradient(#FB9CD1, #ED6E77);
    background-color: #ED6E77;

    box-shadow: 0px -10px 20px rgb(237, 110, 119);
    animation: pulse_contract 2s infinite;
}


#ic_machine_border {
    border-color: #E33A82;
}
#ic_machine_fill {
    background: url('../img/ic_machine.svg') no-repeat center center, linear-gradient(#AB3CAC, #E33A82);
    background-color: #E33A82;

    box-shadow: 0px -10px 20px rgb(227, 58, 130);
    animation: pulse_machine 2s infinite;
}


#ic_gateway_border {
    border-color: #8C56FF;
}
#ic_gateway_fill {
    background: url('../img/ic_gateway.svg') no-repeat center center, linear-gradient(#32BEFD, #8C56FF);
    background-color: #8C56FF;

    box-shadow: 0px -10px 20px rgb(140, 86, 255);
    animation: pulse_gateway 2s infinite;
}


#ic_pos_border {
    border-color: #F7717C;
}
#ic_pos_fill {
    background: url('../img/ic_pos.svg') no-repeat center center, linear-gradient(#FF2E57, #F7717C);
    background-color: #F7717C;

    box-shadow: 0px -10px 20px rgb(247, 113, 124);
    animation: pulse_pos 2s infinite;
}


#ic_leasing_border {
    border-color: #F7717C;
}
#ic_leasing_fill {
    background: url('../img/ic_leasing.svg') no-repeat center center, linear-gradient(#FF2E57, #F7717C);
    background-color: #F7717C;

    box-shadow: 0px -10px 20px rgb(247, 113, 124);
    animation: pulse_pos 2s infinite;
}



/* roadmap */
#roadmap {
    background: url('../img/cloud_left.png') no-repeat left center, url('../img/cloud_right.png') no-repeat right center;
}
.roadmap-list {
    padding-left: 30px;
    margin-left:30px;
    margin-right: 30px;
}


.roadmap-list .roadmap-ball {
    width:40px;
    height: 40px;
    text-align: center;
    background: #4D3084;
    color:#7871b8;
    float:left;
    margin-top:-5px;
    margin-left:-20px;
    padding-top:12px;
    border-radius: 50%;
    line-height: 13px;
    font-size:12px;
}
.roadmap-list .roadmap-ball.ativo {
    background: #4cd566;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    font-weight: 700;
    color: white;
}
.roadmap-list .roadmap-cont {
    border-left: solid 3px #544d8f;
    padding-left:40px;
    margin-bottom:15px;
    color:#7871b8;

}
.roadmap-list .roadmap-cont.ativo {
    border-left: solid 3px #4cd566;
    color:#fff;
}
.roadmap-list .roadmap-cont span {
    display:block;
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom: 3px;
}
.roadmap-list .roadmap-cont >:first-child {
    font-family: 'Offside', cursive;
}
.roadmap-list .roadmap-cont .ativo {
    color: #4cd566;
}

#destino {
    margin-top:30px;
    margin-bottom: 30px;
}
#destino #indice {
    font-weight: 700;
    text-align: center;
}
#destino #indice a {
    color: #544d8f;
    text-decoration: none;
    display:block;
    padding: 10px;
    /*border-bottom: solid 3px #544d8f;*/
}
#destino #indice a.ativo {
    color: #4cd566;
    border-bottom: solid 3px #4cd566;
}
#destino .rows {
    margin-top:30px;
}
#destino .rows span {
    font-family: 'Offside', cursive;
    font-size: 1.4em;
    display:block;
    margin-bottom: 10px;
    margin-top: 5px;
}

#lunes-time ul.lSGallery {
    border-top: solid 3px #fff;
    padding-top:10px;
}

#lunes-advisors-carousel ul.lSPager {
    margin: auto;
}

.lSSlideOuter .lSPager.lSGallery{
    margin: auto !important;
    padding-top:10px;
}

#slide_time .lslide .social_bar, #slide_advisor .lslide .social_bar {
    text-align: right;
}
#slide_time .lslide .social_bar a, #slide_advisor .lslide .social_bar a {
    float:right;
    margin: 5px;
}
#slide_time .lslide .social_bar a:hover, #slide_advisor .lslide .social_bar a:hover {
    opacity: .3;
}
#slide_time .lslide h3, #slide_advisor .lslide h3 {
    display: block;
    text-align: right;
    padding: 0px;
    margin: 0px;
    font-size: 1.8em;
}
#slide_time .lslide h4, #slide_advisor .lslide h4 {
    display: block;
    text-align: right;
    padding: 0px;
    margin: 0px;
    margin-top:-5px;
    color: #4cd566;
}
#slide_advisor .lslide p {
    display: block;
    text-align: right;
    padding: 0px;
    margin: 0px;
    clear: both;
    float:right;
}
#slide_advisor .lslide {
    border-bottom: solid 3px #fff;
}
#slide_time .lslide .img-responsive , #slide_advisor .lslide .img-responsive  {
    padding-top:40px;
}
 



/* Advisors */
.advisor .advisor-img img {
    padding: 0;
    margin-top: 5rem;
    float: left;
    display: block;
    min-width: 150px;
    max-width: 100%;
    border-bottom: solid 3px #fff;
}
/*
.advisor .social_bar {
    text-align: right;
}

.advisor .social_bar a:hover {
    opacity: .3;
}

.advisor h3 {
    display: block;
    text-align: right;
    padding: 0px;
    margin-top: 30px;
    font-size: 1.2em;
}
.advisor h4 {
    display: block;
    text-align: right;
    padding: 0px;
    margin: 0px;
    color: #4cd566;
}

.advisor .social_bar img {
    margin-top: 3rem;
    width: 2rem;
    height: 2rem;
} */

.limitSize{
    max-width: 75%;
}
/* animations */
#robo {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes flashflash {
	0% {
		opacity: .2;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: .2;
	}
}


/*
.box-pre-ico {
    background:url('../img/icon_preico.png') no-repeat -10px 20px;
}*/

.box-ico {
    /*background:url('../img/icon_preico.png') no-repeat -10px 20px;*/
    display: block;
    margin-top: 150px;
}
.banner-sponsor {
    margin-bottom: 20px;
}

.banner-sponsor img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .3s;
}

.banner-sponsor:hover img {
    -webkit-filter: none;
    filter: none;
}


.label-ico, .label-pre-ico {
    background-color: #5cb85c;
    border-radius: 3px;
    font-size: 0.9em;
    padding: 1px 5px;
    margin-bottom: 10px;
    text-align: right;
    width: 50%;
}

.label-pre-ico{
    margin-left:50%;
}

.label-ico{
    margin-left:auto;
    margin-right:auto;
}

.ico-phase-description{
    text-align:right;
    padding-right:25%;

}


/* footer rodape style */
footer {
    background-color: #5e4094;
    font-size: 12px;
    padding-top: 60px;
    padding-bottom: 20px;
    letter-spacing: .15em;
    line-height: 1.2em;
}
footer .link {
    display: block;
}
footer .link a, footer a {
    color:#fff;
}
footer a:hover {
    color:#fff;
    text-decoration: underline;
}
footer .bt_green {
    padding: 5px;
    font-size: 10px;
    text-align:center;
}


.footer-news {
    background-color:#5e4094;padding-top:40px;padding-bottom:40px;margin-top:40px;
}
.footer-news input {
    background: #3B1878;
    width: 80%;
    float:left;
    border: none;
    border-radius: 5px 0px 0px 5px;
}
.footer-news button {
    background: #4cd566;
    color:#fff;
    width:20%;
    float:left;
    border-radius: 0px 5px 5px 0px;
}
@media only screen and (max-width:550px){
    .footer-news input {  width: 60%; }
    .footer-news button{  width: 40%; }    
}
@media only screen and (max-width:767px){
    .footer-align{  text-align: center; }
}
.text-form {
    font-weight: 600;
}
.email1 {
    margin-right:31px;
}
.email2 {
    margin-right:62px;
}
.email4 {
    margin-right:33px;
}
.email3 {
    margin-right:37px;
}

.email-edit1{
    margin-right:47px;
}
.email-edit2{
    text-align: left;
}
.email-edit3{
    margin:30px;
}
.email-edit4{
    text-align: left;
}






/* devices */
@media only screen and (min-width: 768px) {
    body {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;

        -webkit-font-smoothing: antialiased;
    }

    
    /* footer {
        font-size: 1em;
    } */
    p {
        letter-spacing:2px;
    }
    #counter #loading_bar {
        display:block;
        background-color: #fff;
        height: 6px;
    }
    #counter #loading_bar_green {
        display: block;
        background-color: #4cd566;
        height: 6px;
    }
    #lua {
        display:block;
        position: absolute;
        right:0px;
        margin-top:60px;
        margin-left:-100px;
        animation: flashflash 8s infinite;
    }
    #counter #number {
        margin-top: 30px;
        display: block;
        text-align: center;
        font-size:4em;
        color:#4cd566;
    }
    #counter #number span {
        font-size: .3em;
        color:#fff;
        display: block;
        margin-top: 20px;
    }

    .margin-md {
        margin-bottom:30px;
    }


    .image-md {
        position:absolute;
        margin-left:-150px;
        margin-top:-50px;
        width:160%;
    }

    #robo2 {
     float:right;
       width:200px;

       margin-left:-20px;
       animation: float 6s ease-in-out infinite;
       margin-top:-10%;
    }
    
    .first-box {
        margin-right:30px;
    }

    .dist-ico-box {
        border-bottom:none;
        padding-right:0px;
    }
    .dist-preico-box {
        margin-right:75px;
    }
    .box-ico {
        /*background:url('../img/icon_preico.png') no-repeat right 20px;*/
    }

    .box-ico h3 {
        text-align: left;
    }

    .box-ico h4{
        text-align: center;
    }

    h2 {
        font-size: 4em;
        line-height: 1em;
    }
    h3 {
        font-size: 2em;
        line-height: 1.2em;
    }

    .list-simple {
        font-size:1em;
        opacity: .8;
        padding: 0px;
        margin-left:-13px;
        margin-right: -10px;
    }

    .list-simple li {
        padding-bottom:8px;
        letter-spacing:2px;
    }

    .simple-title {
        font-size: 19px;
        margin-bottom: 30px;
    }

    #slide_time .lslide h3 {
        display: block;
        text-align: right;
        padding: 0px;
        margin-top: 100px;
        font-size: 2.5em;
    }
    #slide_advisor .lslide h3{
        display: block;
        text-align: right;
        padding: 0px;
        margin-top: 45px;
        font-size: 2.5em;

    }
    #slide_time .lslide h4, #slide_advisor .lslide h4 {
        font-size: 2em;
    }

    .at-right {
        text-align: right;
    }
    .at-right .ball-border {
        float: right;
        margin-left: 30px;
        margin-right: 0px;
    }



    #navbar {
        width: 20%;
        border-radius: 0px 0px 0px 0px;
        padding-bottom: 40px;
        box-shadow: 0px 0px 45px rgba(0,0,0,.5);

    }
    section {
        margin-top:100px;
        margin-bottom:100px;
    }

    #roadmap h3 {
        font-size:48px;
    }

    .roadmap-list {
        font-size:16px;

    }

    .roadmap-list .roadmap-ball {
        width:60px;
        height: 60px;
        text-align: center;
        background: #4D3084;
        color:#7871b8;
        float:left;
        margin-top:-15px;
        margin-left:-30px;
        padding-top:20px;
        border-radius: 50%;
        line-height: 13px;
        font-size:16px;
        font-family: 'Offside', cursive;
        line-height: 15px;
    }
    .roadmap-list .roadmap-ball.ativo {
        background: #4cd566;
        box-shadow: 0px 5px 10px rgba(0,0,0,.1);
        font-weight: 700;
        color: #fff;
    }
    .roadmap-list .roadmap-cont {
        padding-bottom: 40px;
    }
    .roadmap-list .roadmap-cont.ativo {
        border-left: solid 3px #4cd566;
        color:#fff;
    }
    .roadmap-list .roadmap-cont span {
        display:block;
        padding-left:10px;
        padding-right:10px;
        padding-top:3px;
        padding-bottom: 3px;
    }
    .roadmap-list .roadmap-cont >:first-child {
        font-family: 'Offside', cursive;
    }
    /* .roadmap-list .roadmap-cont .ativo {
        color: #4cd566;
    } */

    #lunes-ico h2 {
        font-size:56px;
        letter-spacing:5px;
    }
    /* #lunes-ico span.label, #sec-pre-ico span.label, #sec-ico span.label {
        width:150px;
    } */
    
    
    #sec-pre-ico h3, #sec-ico h3 {
        font-size:48px;
        letter-spacing:5px;
        margin-top:0px;
    }


    #dist-resources h3 {
        font-size:56px;
        letter-spacing:5px;
        margin-bottom: 20px;
    }
    #dist-resources p {
        padding-right: 30px;
    }
    #destino .rows span {
        font-family: 'Offside', cursive;
        font-size: 1.9em;
        display:block;
        margin-bottom: 10px;
        margin-top: 5px;
        letter-spacing:3px;
    }

    #lunes-buy-tokens {
        margin-top:200px;
    }
    #lunes-buy-tokens h3 {
        margin-top: 0px;
        font-size:56px;
        letter-spacing:5px;
    }
    #lunes-buy-tokens .bt_green {
        clear: both;

    }
    .icon-link {
        width:80px;
        display: block;
        float:left;
        margin-right: 30px;
        margin-bottom: 20px;
    }
    #lunes-time h2, #lunes-parceiros h2 {
        /*font-size:96px;*/
        letter-spacing:5px;
    }
    #lunes-time .social_bar img, #lunes-advisor .social_bar img {
        width:60px;
        height: 60px;
    }
    #lunes-time h3, #lunes-advisor h3 {
        font-size:64px;
        letter-spacing:5px;
        display: block;
        margin-bottom: 10px;
    }
    #lunes-time li h4, #lunes-advisor li h4 {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
    }

    #lunes-advisor h2, #lunes-parceiros h2 {
        /*font-size:96px;*/
        letter-spacing:5px;
    }
    
    

    /* .advisor .advisor-img img {
        margin-top: 15rem;
    }

    .advisor .social_bar img {
        margin-top: 7rem;
        width: 3rem;
        height: 3rem;
    } */
}



::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.t {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav #logo.container-logo-lunes {
    letter-spacing: -10px;
}

section #logo.container-logo-lunes {
    letter-spacing: -10px;
}

footer .container-logo-lunes {
    letter-spacing: -1px;
}

footer .logolunes {
    font-size:22px;
    font-family:'Offside', cursive;
}

/* teste menu java*/

  
.header-shadow{
    background: #3B1878;
    box-shadow:
       inset 11px 0px 1rem -16px rgba(0,0,0,.5),
       inset -11px 0px 1rem -16px rgba(0,0,0,.5),
       0 8px 18px -4px rgba(0,0,0,.4);
    transition: all .25s ease-in;
  }

#up_screen {
    background-color: #4cd566;
    color: #fff;
    box-shadow: 0px 5px 10px #3B1878;
    text-decoration: none;
    text-align: center;
    width:40px;
    height:40px;
    padding-top:10px;
    position:fixed;
    left:100%;
    top:100%;
    border-radius: 50%;
    margin-left: -130px;
    margin-top: -60px;
    display: none;
}

#up_screen:hover {
    color: #4cd566;
    background-color: #fff;
}

.splash {
    display:none;
    /*background-color:#fff;*/
    background-color:#4cd566;
    color: #4B2C82;
    padding: 30px;
    width:100%;
    max-width: 600px;
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 50px;
    margin-left:-300px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0,0,0,.3);
}



.icon-float-size-max{ /* o maior tamanho que tem*/
    width: 110% !important;
    
}

.icon-float { /* imagens dos tópicos dos produtos flutuando :) */
    animation: float 6s ease-in-out infinite;
}

.icon-float2 { /* fragmentos flutuando :) */
    animation: float 5s ease-in-out infinite;    
    margin-left:12%;
    width: 25%;
    float: left;
}

.icon-float3 { /* fragmentos flutuando de forma diferente */
    animation: float 4s ease-in-out infinite;    
    margin-left:10%;
    width: 10%;
    float: left;
}

.icon-float4 { /* fragmentos flutuando de forma diferente */
    animation: float 3s ease-in-out infinite;    
    margin-left:5%;
    width: 15%;
    float: left;
}


/*Daq p baixo é a secção de icones e suas formatações individuais*/

.icon-rotate{  /* rotação elipse fixa*/
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;    
    position: relative;
}

.icon-rotate2{
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;    
    position: relative;
    margin-top: -93%;

}

.icon-rotate3{
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;    
    position: relative;
    margin-top: -93%;

}

.icon-rotate-truth{    
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;    
    position: relative;
    top:90px;
}

.icon-rotate-truth2{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;    
    position: relative;
    margin-top: -93%;
    top:90px;

}

.icon-rotate-truth3{
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;    
    position: relative;
    margin-top: -93%;
    top:90px;

}

.icon-align-wallet{
    position: relative;
    margin-left:10%;
    margin-top:-80%;
    margin-bottom: 1%;
    width: 70%;
}
.icon-align-market{
    position: relative;
    margin-left:5%;
    margin-top:-90%;
    margin-bottom: 1%;
    width: 90%;
}
.icon-align-card{
    position: relative;
    margin-left:10%;
    margin-top:-90%;
    margin-bottom: 1%;
    width: 75%;
}
.icon-align-label{
    position: relative;
    margin-left: 10%;
    margin-top:-90%;
    margin-bottom: 1%;
    width: 70%;
}
.icon-align-truth{
    position: relative;
    margin-left:5%;
    margin-top:-90%;
    margin-bottom: 1%;
    width: 90%;
}
.icon-align-point{
    position: relative;
    margin-left:5%;
    margin-top:-80%;
    margin-bottom: 1%;
    width: 90%;
}
.icon-align-contracts{
    position: relative;
    margin-left:5%;
    margin-top:-85%;
    margin-bottom: 1%;
    width: 85%;
}
.icon-align-machine{
    position: relative;
    margin-left: 15%;
    margin-top:-80%;
    margin-bottom: 1%;
    width: 70%
}

.icon-align-lpos{
    position: relative;
    margin-left: 5%; 
    margin-top:-90%;  
    margin-bottom: 1%;
    width: 80% 
}
.icon-align-gateway{
    position: relative;
    margin-left:5%;
    margin-top:-85%;
    margin-bottom: 1%;
    width: 90%;
}
.icon-align-leasing{
    position: relative;
    margin-left:0px;
    margin-top:-90%;
    margin-bottom: 1%;
    width: 100%;
}

.align-paragraph p{
    padding-left: 4em;
    text-align: left;
    margin-top: 1em;
    border-bottom: 1px;
}
.align-data-ico{
    font-size: 0.7em;
    margin-right: -30px;
}
@media only screen and (width:768px) {
    .icon-float { /* imagens dos tópicos dos produtos flutuando */
        animation: float 6s ease-in-out infinite;
    }
    
    .icon-float2 { /* fragmentos flutuando :) */
        animation: float 5s ease-in-out infinite;    
        margin-left:12%;
        width: 20%;
        float: left;
    }
    
    .icon-float3 { /* fragmentos flutuando de forma diferente */
        animation: float 4s ease-in-out infinite;    
        margin-left:10%;
        width: 10%;
        float: left;
    }
    
    .icon-float4 { /* fragmentos flutuando de forma diferente */
        animation: float 3s ease-in-out infinite;    
        margin-left:5%;
        width: 13%;
        float: left;

    }

    
    /*Daq p baixo é a secção de icones e suas formatações individuais*/
    
    .icon-rotate{  /* rotação elipse fixa*/
        -webkit-animation:spin 10s linear infinite;
        -moz-animation:spin 10s linear infinite;
        animation:spin 10s linear infinite;    
        position: relative;
    }
    
    .icon-rotate-truth{    
        -webkit-animation:spin 10s linear infinite;
        -moz-animation:spin 10s linear infinite;
        animation:spin 10s linear infinite;    
        position: relative;
        top:90px;
    }
    
    .icon-rotate-truth2, .icon-rotate-truth3{
        margin-top: -100%;
        top:90px;
    
    }
    .icon-align-wallet{
        position: relative;
        margin-left:12%;
        margin-top:-90%;
        margin-bottom: 1%;
        width: 70%;
    }
    .icon-align-market{
        position: relative;
        margin-left:0%;
        margin-top:-90%;
        margin-bottom: 1%;
        width: 100%;
    }
    .icon-align-card, .icon-align-label{
        position: relative;
        margin-left:10%;
        margin-top:-90%;
        margin-bottom: 1%;
        width: 80%;
    }
    .icon-align-truth, .icon-align-point{
        position: relative;
        margin-left:5%;
        margin-top:-75%;
        margin-bottom: 1%;
        width: 80%;
    }
    .icon-align-contracts{
        position: relative;
        margin-left:10%;
        margin-top:-80%;
        margin-bottom: 1%;
        width: 80%;
    }
    .icon-align-machine{
        position: relative;
        margin-left: 20%;
        margin-top:-80%;
        margin-bottom: 1%;
        width: 60%
    }
    
    .icon-align-lpos{
        position: relative;
        margin-left: 15%; 
        margin-top:-85%;  
        margin-bottom: 1%;
        width: 70% 
    }
    .icon-align-gateway{
        position: relative;
        margin-left:10%;
        margin-top:-85%;
        margin-bottom: 1%;
        width: 80%;
    }
    .icon-align-leasing{
        position: relative;
        margin-left:0%;
        margin-top:-90%;
        margin-bottom: 1%;
        width: 100%;
    }
}
@media only screen and (min-width:426px) and (max-width: 767px) {  
    .icon-rotate2, .icon-rotate3{
        margin-top: -100%;    
    }

    .icon-rotate-truth{
        top:90px;
    }
    
    .icon-rotate-truth2, .icon-rotate-truth3{
        margin-top: -100%;
        top:90px;
    
    }
}
@media only screen and (max-width:425px){
    
    .icon-rotate2, .icon-rotate3{
        margin-top: -100%;
    
    }
    .icon-rotate-truth{
        top:100px;
    }
    
    .icon-rotate-truth2, .icon-rotate-truth3{
        margin-top: -100%;
        top:100px;    
    }

    .icon-align-wallet{
        position: relative;
        margin-left:13%;
        margin-top:-80%;
        margin-bottom: 1%;
        width: 70%;
    }
    .icon-align-market{
        position: relative;
        margin-left:5%;
        margin-top:-90%;
        margin-bottom: 1%;
        width: 90%;
    }
    .icon-align-card{
        position: relative;
        margin-left:13%;
        margin-top:-90%;
        margin-bottom: 1%;
        width: 75%;
    }
    .icon-align-label{
        position: relative;
        margin-left: 15%;
        margin-top:-90%;
        margin-bottom: 1%;
        width: 70%;
    }
    .icon-align-truth{
        position: relative;
        margin-left:5%;
        margin-top:-90%;
        margin-bottom: 1%;
        width: 90%;
    }
    .icon-align-point{
        position: relative;
        margin-left:5%;
        margin-top:-80%;
        margin-bottom: 1%;
        width: 90%;
    }
    .icon-align-contracts{
        position: relative;
        margin-left:8%;
        margin-top:-85%;
        margin-bottom: 1%;
        width: 85%;
    }
    .icon-align-machine{
        position: relative;
        margin-left: 15%;
        margin-top:-80%;
        margin-bottom: 1%;
        width: 70%
    }
    
    .icon-align-lpos{
        position: relative;
        margin-left: 8%; 
        margin-top:-90%;  
        margin-bottom: 1%;
        width: 80% 
    }
    .icon-align-gateway{
        position: relative;
        margin-left:5%;
        margin-top:-90%;
        margin-bottom: 1%;
        width: 90%;
    }
    .align-horizontal {
        display: block;
    }

    #counter #coin_counter {
        text-align: center;
    }

    #counter #coin_sale_desc{
        text-align: center;
        margin-bottom: 5px;
    }
    .label-ico-last-phase{
        padding-right:20%;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .icon-rotate2, .icon-rotate3{
        margin-top: -100%;
    
    }
    .icon-rotate-truth2, .icon-rotate-truth3{
        margin-top:-100%;
    }
    
}
@media only screen and (min-width:1024px) and (max-width:1199px){
    .icon-rotate2, .icon-rotate3{  
        margin-top: -100%;
    
    }

    .icon-rotate-truth{
        top:90px;
    }
    
    .icon-rotate-truth2, .icon-rotate-truth3{
        margin-top: -100%;
        top:90px;    
    }
}
@media only screen and (min-width:415px) and (max-width:1040px){
    
    #robo{
        margin-top:-100px;
        max-width: 85%;
    }
}
@media only screen and (max-width:768px) {
    .align-paragraph p{
        text-align: center;
        padding: 0px;
    }

    .align-data-ico{
        margin-right: 0px;
    }
    .align-horizontal{
        margin-top: 20px;
    }
}



